@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

:root {
  --black: #141414;
  --darkBlack: #1c1c1c;
  --grey: #393e46;
  --purple: #6c63ff;
  --pink: #c471ed;
  --blue: #12c2e9;
  --red: #f64f59;
  --white: #eeeeee;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: var(--black);
}

header {
  color: var(--white);
  position: fixed;
  background-color: var(--darkBlack);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
img {
  height: 100%;
  width: 100%;
}
h1,
span {
  color: var(--purple);
}
h1 {
  text-transform: uppercase;
  font-size: 27px;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  transition: all ease-in-out 0.3s;
  &:hover {
    color: var(--purple);
  }
}
form {
  input,
  textarea {
    font-family: "Montserrat", sans-serif;
    padding: 0.3rem;
    color: var(--white);
  }
  input {
    width: 150px;
  }
  textarea {
    width: 320px;
  }
  input:focus,
  textarea:focus {
    outline: none;
    border: 1px solid var(--purple);
  }
  input,
  textarea {
    margin: 7px;
    border-radius: 5px;
    background: none;
    border: 1px solid var(--white);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;

  &__title {
    background-image: linear-gradient(-45deg, var(--blue), var(--pink), var(--red));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: gradient 3s ease infinite;
    animation: gradient 3s ease infinite;
    font-weight: 600;
    letter-spacing: 2px;
    transition: 0.4s;
  }
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  &__bar,
  &::after,
  &::before {
    content: "";
    display: block;
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0px;
    transition: 0.4s;
  }
}

.hamburger.isActive::before {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.hamburger.isActive::after {
  transform: rotate(45deg) translate(-6px, -5px);
}
.hamburger.isActive .hamburger__bar {
  opacity: 0;
}

.navigation-mobile {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background: #1d1d1f;
  padding-top: 120px;
  transition: 0.4s;
  opacity: 0.5;
  &__list {
    list-style: none;
  }
  a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: var(--purple);
    border-radius: 3px;
    text-transform: uppercase;
    color: var(--white);
    text-decoration: none;
    font-size: 24px;
  }
  a:hover {
    background-color: var(--white);
    color: var(--purple);
  }
}
.navigation-mobile.isActive {
  opacity: 1;
  left: 0;
}

.top-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 40vh;
  margin-top: 150px;
  &__title {
    color: var(--white);
    font-size: 20px;
    &-desktopSpan {
      display: none;
    }
    &-mobileSpan {
      display: block;
    }
    &-mobileSpan,
    &-desktopSpan {
      font-size: 10vw;
      font-weight: 700;
      color: var(--purple);
    }
  }
  &__image {
    margin-top: 20px;
    &-desktop {
      width: max-content;
      border-radius: 20px;
      height: 450px;
      background-color: var(--black);
      border: 2px solid var(--purple);
    }
  }
}

.top-image {
  &__image {
    height: 300px;
    width: 250px;
  }
}
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 180px;
  &__title {
    color: var(--white);
    font-size: 18px;

    display: flex;
    align-items: center;
    p {
      text-align: center;
      margin: 10px;
      width: 400px;
    }
    h1 {
      text-align: center;
    }
    &__technologies {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      img {
        height: 40px;
        width: 40px;
      }
    }
  }
  &__image {
    height: 200px;
    width: 280px;
    &-desktop {
      display: none;
    }
  }
}

.work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 180px;
  gap: 30px;
  &__title {
    color: var(--white);
    font-size: 18px;
    text-align: center;
    p {
      margin: 10px;
      text-transform: uppercase;
    }
  }
  &__image {
    height: 250px;
    width: 300px;
    &-desktop {
      display: none;
    }
  }
}

.social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 180px;
  gap: 30px;
  &__title {
    color: var(--white);
    font-size: 18px;
    text-align: center;
    p {
      margin: 10px;
      text-transform: uppercase;
    }
  }
  &__image {
    height: 250px;
    width: 300px;
    &-desktop {
      display: none;
    }
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 180px;
  gap: 20px;
  text-align: center;

  &__title__button {
    &-btn {
      padding: 0.5rem 2.5rem;
      background: none;
      border: 1px solid var(--white);
      border-radius: 10px;
      color: var(--white);
      font-family: "Montserrat", sans-serif;
      transition: 0.3s ease-in-out all;
      &:hover {
        border: 1px solid var(--purple);
      }
    }
  }
  &__image {
    height: 250px;
    width: 300px;
    &-desktop {
      display: none;
    }
  }
}
.footer {
  margin-top: 60px;
  display: flex;
  justify-content: flex-end;
  background-color: var(--purple);
  padding: 1rem;
  color: var(--white);
}
@media (max-width: 370px) {
  .top-content {
    margin-top: 245px;
    height: 180px;
    img {
      height: 400px;
      width: 210px;
    }
  }
  .about-me {
    margin-bottom: 100px;
    p {
      width: 300px;
    }
  }
}
@media (min-width: 390px) {
  .top-content {
    &__image {
      height: 330px;
      width: 300px;
    }
  }
  .about-me {
    margin-top: 210px;
    &__title {
      font-size: 20px;
    }
  }
  .navigation-mobile {
    a {
      max-width: 275px;
      padding: 18px 32px;
    }
  }
}

@media (min-width: 420px) {
  .top-content {
    &__image {
      &-desktop {
        height: 525px;
      }
    }
  }
  .about-me {
    margin-top: 230px;

    &__title {
      font-size: 26px;
    }
  }
  .navigation-mobile {
    &__item {
      a {
        font-size: 28px;
      }
    }
  }
}
@media (max-width: 767px) {
  .navigation {
    display: none;
  }
}

@media (min-width: 768px) {
  .navigation-mobile,
  .hamburger {
    display: none;
  }
  header {
    .navigation {
      &__list {
        display: flex;
        gap: 20px;
      }
      &__item {
        display: flex;
      }
    }
  }
  h1 {
    font-size: 34px;
    letter-spacing: 2px;
    color: var(--purple);
  }

  .top-content {
    display: flex;
    flex-direction: row;
    gap: 100px;
    &__title {
      display: flex;
      align-items: center;
      flex-direction: column;
      p {
        font-size: 28px;
      }
      &-desktopSpan {
        display: block;
      }
      &-mobileSpan {
        display: none;
      }
    }
    &__image {
      margin-left: 100px;
      &-desktop {
        position: relative;
        display: block;
        border-radius: 20px;
        height: 600px;
        border: 0px;
      }
      &-wrapper {
        position: absolute;
      }
      &-background {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        background: linear-gradient(90deg, #ff8038 0%, #ff0099 30.43%, #00ebeb 68.23%, #db00ff 100%);
        background-size: 600% 600%;
        border-radius: 20px;
        animation: AnimateBorder 4s ease infinite;
        -webkit-animation: AnimateBorder 4s ease infinite;
        -moz-animation: AnimateBorder 4s ease infinite;
        z-index: -1;
        transform: translate(-2px, -2px);
        transition: filter 1s ease-in;
        filter: blur(10px);
      }
    }
  }
  .about-me {
    margin: 500px 0 100px 0;
    gap: 100px;
    &__title {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 220px;
      margin-left: 250px;
      font-size: 22px;
      &__technologies {
        img {
          height: 40px;
          width: 40px;
        }
      }
    }
    &__image {
      height: 400px;
      width: 300px;
      &-mobile {
        display: none;
      }
      &-desktop {
        display: block;
      }
    }
  }
  .work {
    margin: 200px 0 100px 0;
    gap: 100px;
    &__title {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-left: 250px;
      p {
        margin: 0;
      }
    }
    &__image {
      height: 400px;
      width: 300px;
      &-mobile {
        display: none;
      }
      &-desktop {
        display: block;
      }
    }
  }
  .social {
    margin: 200px 0 100px 0;
    gap: 100px;
    &__title {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-left: 250px;
      p {
        margin: 0;
      }
    }
    &__image {
      height: 400px;
      width: 300px;
      &-mobile {
        display: none;
      }
      &-desktop {
        display: block;
      }
    }
  }

  .contact {
    margin: 200px 0 100px 0;
    gap: 300px;
    &__image {
      height: 400px;
      width: 300px;
      &-mobile {
        display: none;
      }
      &-desktop {
        display: block;
      }
    }
    &__image {
      &-desktop {
        margin-left: 70px;
      }
    }
    &__title {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .formData {
      textarea,
      input {
        transition: 0.2s ease-in-out all;
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@-webkit-keyframes AnimateBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimateBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimateBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
